h1{
    text-align: center;
    color: #ffff;
    
}
.jumbotron{
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
}

#fifth-p p{
    text-align: center;
    transform: translate(0%,190%);
    font-size: 40px;
}
img{
    position: relative;
}
.img{
    width: 50%;
    float: left;
}
